
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>密码找回</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" href="~/lib/base.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/lib/style.css" media="all">
</head>
<body class="backF1">
    <div class="head">
        <a href="javascript:void(0)" onclick="window.history.go(-1);">
            <i class="iconfont col_f">
                &#xe604;
            </i>
        </a> <span>修改密码</span>
    </div>
    <div class="regForm">

        <div class="regList">
            <p class="listItem clearfix0">
                <b>新密码</b>
                <input type="password" placeholder="密码范围在6~16位之间" id="userpassword" onblur="checklen();"/>
            </p>
            <p class="colR" id="msgpwd">
                密码范围在6~16位之间
            </p>
        </div>
        <div class="regList">
            <p class="listItem clearfix0">
                <b>确认密码</b>
                <input type="password" placeholder="两次输入密码需一致" id="userpassword2" onblur="checkpwd();" />
            </p>
            <p class="colR" id="msgpwd2">
                两次输入密码不一致
            </p>
        </div>
        <div class="logBtn tac">
            <a href="javascript:save()">确认</a>
        </div>
    </div>
    <script src="~/js/jquery-1.8.0.min.js"></script>
    <script src="~/js/fontsize.js"></script>
    <script>
        function checklen()
        {
            var length = $("#userpassword").val().trim().length;
            if (length >= 6 && length <= 16) {
                $("#msgpwd").css("display", "none");
            }
            else {
                $("#msgpwd2").css("display", "inline-block");
            }

        }
        function checkpwd() {
            var pwd = $("#userpassword").val().trim();
            var okpwd = $("#userpassword2").val().trim();
            if (pwd != okpwd) {
                $("#msgpwd2").css("display", "inline-block");
            }
            else {
                $("#msgpwd2").css("display", "none");
            }
        }


        function save() {
            var userpassword = $("#userpassword").val().trim();
            var userpassword2 = $("#userpassword2").val().trim();
            var b = true;

            if (userpassword.length == 0) {

                $("#msgpwd").html("密码范围在6~16位之间");
                $("#msgpwd").css("display", "inline-block");
                b = false;
            }
            if (userpassword != userpassword2) {
                $("#msgpwd2").html("两次输入密码不一致");
                $("#msgpwd2").css("display", "inline-block");
                b = false;
            }    
            if (b) {
                $.ajax({
                    url: "/User/ChangePassword",
                    data: { "newpwd": userpassword, "newpwdf": userpassword2},
                    type: "post",
                    success: function (data) {
                        if (data == "nopaswd") {
                            alert("两次输入密码不一致");
                        }
                        else if (data == "nosix") {
                            alert("密码范围在6~16位之间");
                        }
                        else if (data == "ok") {
                            alert("修改成功,请重新登录");
                            setTimeout("window.location.href ='/User/Login'", 1000);
                        }
                        else {
                            alert("修改失败");
                        }
                    }
                });
            }
        }
    </script>
</body>
</html>
