@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>我的</title>
    <link rel="stylesheet" href="/Styles/base.css" />
    <link href="/Styles/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Styles/theme.css" />
    <script type="text/javascript" src="/Scripts/jquery-1.8.0.min.js"></script>
</head>
<body>
    <!--banner -->
    <div class="usp_inbanner"><a href="#"><img src="/images/index_02.png"></a></div>
    <!--访问流量 -->
    <div class="wout usp_inflow_bg bdr-bottom">
        <div class="usp_inflow clearfix">
            <div class="usp_inflow_left">
                <h2 class="inflow_left_ico">收益（元）</h2>
                <dl>
                    <dt>236.45</dt>
                    <dd>昨日收益</dd>
                </dl>
            </div>
            <div class="usp_inflow_middle">
                <h2 class="inflow_middle_ico">点击（次）</h2>
                <dl>
                    <dt>322</dt>
                    <dd>昨日点击</dd>
                </dl>
            </div>
            <div class="usp_inflow_right">
                <h2 class="inflow_right_ico">访问（次）</h2>
                <dl>
                    <dt>3645</dt>
                    <dd>昨日访问</dd>
                </dl>
            </div>
        </div>
    </div>

    <!--微闪告/原创告 -->
    <div class="wout">
        <div class="usp_bignav bdr-bottom">
            <div class="usp_bignav_left">
                <a href="#"><img src="/images/index_wsg.png" width="100%" height="100%"><span><h2>微闪告</h2><p>快速发布广告</p></span></a>
            </div>
            <div class="usp_bignav_right">
                <a href="#"><img src="/images/index_ycg.png" width="100%" height="100%"><span><h2>原创告</h2><p>发布原创广告</p></span></a>
            </div>
        </div>
        <!--USP头条 -->
        <div class="usp_headline">
            <div class="usp_fixed">
                <div class="usp_headline_tit bdr-bottom ">USP头条<span><a href="#">查看更多</a></span></div>
                <!--滚动导航 -->
                <div class="find_nav">
                    <div class="find_nav_left">
                        <div class="find_nav_list">
                            <ul>
                                <li class="find_nav_cur"><a href="javascript:void(0)">最新</a></li>
                                <li><a href="javascript:void(0)">类别名1</a></li>
                                <li><a href="javascript:void(0)">类别名2</a></li>
                                <li><a href="javascript:void(0)">类别名3</a></li>
                                <li><a href="javascript:void(0)">类别名4</a></li>
                                <li><a href="javascript:void(0)">类别名5</a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="newsbj" href=""><img src="/images/news_bj.png" width="100%"></a>
                </div>
            </div>
            <script>
    $(function () {
        //window.onscroll=function(){
        //if ($(document).scrollTop() > 443.04)
        //{
        //$(".find_nav").addClass('find_nav_fixed');
        //}else{
        //$(".find_nav").removeClass('find_nav_fixed');
        //}
        //}
        window.onscroll = function () {
            if ($(document).scrollTop() > 391.32) {
                $(".usp_fixed").addClass('usp_fixedd');
            } else {
                $(".usp_fixed").removeClass('usp_fixedd');
            }
        }
    });

            </script>
            <div class="usp_headline_con clearfix">
                <ul>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>2017-04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>2017-04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>2017-04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>2017-04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>2017-04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>2017-04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>2017-04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>2017-04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>2017-04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>2017-04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                    <li class="clearfix">
                        <div class="intext_tit"><a href="#">美媒:朝在建能发射30发以0上导弹的3000吨级新潜艇</a></div>
                        <div class="intext_time bdr-bottom "><font>04-12&emsp;类别名称</font><span><a href="#"><img src="/images/index_ico03.png" width="100%">分享</a></span></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="in_more">没有更多资讯了</div>
    </div>
    <!--底部导航 -->
    <div class="foot" style="background:#fff;"></div>
    <div class="menu clearfix">
        <div class="bdr-top"></div>
        <a class="pic1 picgl" href="#"><p>首页</p></a>
        <a class="pic2" href="#"><p>收益</p></a>
        <a class="pic3" href="#"><p>发布</p></a>
        <a class="pic4" href="#"><p>我的</p></a>
    </div>
</body>
</html>