@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title>首页</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control" />
    <meta content="no-cache" http-equiv="pragma" />
    <meta content="0" http-equiv="expires" />
    <meta content="telephone=no, address=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" type="text/css" href="~/lib/base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/lib/style.css" media="all" />
    <script src="~/js/jquery-1.8.0.min.js"></script>
    <script src="~/js/fontsize.js"></script>
    <script src="~/js/echarts/echarts.js"></script>
    @*<%--
    <style type="text/css">
        .briefList .dataImg {
            width: 6.76rem;
            height: 2.6rem;
            margin: 0 auto;
            display: none;
        }
    </style>--%>*@
    <script type="text/javascript">
        $(function () {
            // $(".chart").css("width",($(window).width()-100));
            $(".chart").css("width", $(window).width());
        })
    </script>
</head>

<body class="backF1" style="overflow-x:hidden;">
    <form id="form1" runat="server">
        <div class="briefTop">
            <div>
                <img src="~/images/user.jpg" class="userImg" id="imglogo" runat="server" onclick="javascript:window.location.href='Account/AccountMain.aspx'" />
                <div class="userInfo">
                    <span id="lblusername" runat="server" onclick="javascript:window.location.href='Account/AccountMain.aspx'"></span>
                    <p>余额：<b id="lblyue" runat="server">0.00</b> 元 <a href="~/Income/AccountDetail.aspx">余额明细</a></p>
                </div>
            </div>
            <span class="identy" id="spanrenzheng" runat="server"><i class="iconfont">&#xe643;</i>已认证</span>
            <span class="inIdenty" id="spanweirenzheng" runat="server" onclick="javascript:window.location.href='Account/Authentication.aspx'"><i class="iconfont">&#xe60d;</i>未认证</span>
        </div>
        <div class="briefCon">
            <div class="briefList">
                <p><i class="iconfont">&#xe6a5;</i>提现一览</p>
                <div class="money clearfix0">
                    <a href="~/Income/YesterdayEarnings.aspx"><span>可提现金额<br /><b id="lblketi" runat="server">0.00元</b></span></a>
                    <a href="~/Income/ApplicationDetail.aspx"><span>提现中金额<br /><b id="lbltiing" runat="server">0.0元</b></span></a>
                    <a href="~/Income/PresentRecord.aspx"><span>已提现金额<br /><b id="lblyiti" runat="server">0.0元</b></span></a>
                </div>
            </div>
            <div class="briefList">
                <p><i class="iconfont">&#xe629;</i>收益一览</p>
                <div class="money clearfix0">
                    <a href="javascript:void(0)"><span>昨日收益<br /><b id="lblzuo" runat="server">0.0元</b></span></a>
                    <a href="~/Income/SevenEarnings.aspx"><span>前7天累计收益<br /><b id="lblqian" runat="server">0.0元</b></span></a>
                    <a href="~/Income/SumEarnings.aspx"><span>累计收益<br /><b id="lblsum" runat="server">0.0元</b></span></a>
                </div>
            </div>
            <div class="briefList">
                <p><i class="iconfont">&#xe605;</i>分享一览</p>
                <div class="money clearfix0">
                    <a href="javascript:void(0)"><span>昨日分享量<br /><b id="lblzuo2" runat="server">0</b></span></a>
                    <a href="~/Income/SevenClick.aspx"><span>前7天累计分享量<br /><b id="lblqian2" runat="server">0</b></span></a>
                    <a href="~/Income/SumClick.aspx"><span>累计分享量<br /><b id="lblsum2" runat="server">0</b></span></a>
                </div>
            </div>
            <div class="briefList">
                <p><i class="iconfont">&#xe605;</i>分成一览</p>
                <div class="money clearfix0">
                    <a href="javascript:void(0)"><span>昨日分成<br /><b id="fenzuo" runat="server">0.00元</b></span></a>
                    <a href="~/Income/SevenSplit.aspx"><span>前7天累计分成<br /><b id="fenqian" runat="server">0.00元</b></span></a>
                    <a href="~/Income/SplitDetailList.aspx"><span>累计分成<br /><b id="lblfensum" runat="server">0.00元</b></span></a>
                </div>
            </div>
            @*<div class="briefList">
                <p><i class="iconfont">&#xe614;</i>分销工具</p>
                <div class="money clearfix0">
                    <a href="Resource/WSG.aspx"><span>微闪告<br /></span></a>
                    <a href="Resource/WShare.aspx"><span>微分享<br /></span></a>

                </div>
            </div>
            <div class="briefList">
                <p><i class="iconfont">&#xe636;</i>近7天点击量统计</p>

                <div class="dataImg dataImg0" style="height: 2.8rem;">
                    <div class="chart" id="main" style=" height: 150px; width:300px; margin-top: -48px;">
                    </div>
                </div>

            </div>*@
            @*<div class="briefList">
                <p><i class="iconfont">&#xe613;</i>本月分享收益统计</p>

                <div class="dataImg dataImg0" style="height: 3.8rem;">
                    <div class="chart" id="chart2" style="height:200px;  width:320px;margin-top:-48px">
                    </div>
                </div>

            </div>*@
        </div>
        <input type="hidden" id="hidclickx" value="" runat="server" />
        <input type="hidden" id="hidclicky" value="" runat="server" />
        <input type="hidden" id="hidpricex" value="" runat="server" />
        <input type="hidden" id="hidpricey" value="" runat="server" />
        <div class="foot"></div>
        <ul class="footer clearfix0 tac">
            <li class="curr"><a href="Index.aspx"><i class="iconfont">&#xe67b;</i><p>概况</p></a></li>
            <li><a href="~/Income/YesterdayEarnings.aspx"><i class="iconfont">&#xe6e0;</i><p>收益</p></a></li>
            <li><a href="Resource/TransList.aspx"><i class="iconfont">&#xe612;</i><p>管理</p></a></li>
            <li><a href="Account/AccountMain.aspx"><i class="iconfont">&#xe63f;</i><p>我的</p></a></li>
        </ul>


        <script>
            $(function () {
                $('.briefList h2 .date').click(function () {
                    var i = $(this).index();
                    $(this).parent().siblings('.dataImg').hide();
                    $(this).parent().siblings('.dataImg').eq(i).show();
                    $(this).siblings().removeClass('dateHov');
                    $(this).addClass('dateHov');
                })
            })
        </script>

        @*<script>


            var myChart = echarts.init(document.getElementById('main'));
            var dataAxis = $("#hidclickx").val().split(","); //x
            var data = $("#hidclicky").val().split(","); //y
            option = {
                color: ['#3398DB'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: dataAxis,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '点击量',
                        type: 'bar',
                        barWidth: '60%',
                        data: data
                    }
                ]
            };
            myChart.setOption(option);


        </script>
        <script>
            var myChart2 = echarts.init(document.getElementById('chart2'));
            var dataAxis2 = $("#hidpricex").val().split(","); //x
            var data2 = $("#hidpricey").val().split(","); //y

            option2 = {
                tooltip: {
                    trigger: 'axis',
                    position: function (pt) {
                        return [pt[0], '10%'];
                    }
                },

                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: dataAxis2
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, '100%']
                },
                dataZoom: [{
                    type: 'inside',
                    start: 0,
                    end: 100
                }, {
                    start: 0,
                    end: 10,
                    handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                    handleSize: '80%',
                    handleStyle: {
                        color: '#fff',
                        shadowBlur: 3,
                        shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2,
                        shadowOffsetY: 2
                    }
                }],
                series: [
                    {
                        name: '分享收益',
                        type: 'line',
                        smooth: true,
                        symbol: 'none',
                        sampling: 'average',
                        itemStyle: {
                            normal: {
                                color: 'rgb(255, 70, 131)'
                            }
                        },
                        areaStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                }, {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }])
                            }
                        },
                        data: data2
                    }
                ]
            };

            myChart2.setOption(option2);
        </script>*@
        <script type="text/javascript">
            $(function () {
                $("#main").css("width", ($(window).width() - 30));
                $("#chart2").css("width", ($(window).width() - 30));
            });
        </script>
    </form>
</body>
</html>
